32 0 0 source/blue/left_ptr_watch/left_ptr_watch20.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch210.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch211.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch212.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch213.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch21.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch22.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch23.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch24.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch25.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch26.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch27.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch28.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch29.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch20.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch210.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch211.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch212.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch213.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch21.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch22.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch23.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch24.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch25.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch26.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch27.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch28.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch29.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch20.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch210.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch211.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch212.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch213.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch21.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch22.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch23.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch24.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch25.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch26.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch27.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch28.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch29.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch20.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch210.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch211.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch212.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch213.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch21.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch22.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch23.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch24.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch25.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch26.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch27.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch28.png 60
32 0 0 source/blue/left_ptr_watch/left_ptr_watch29.png 60
